<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- En ajoutant cette déclaration <queries> dans votre fichier AndroidManifest.xml,
    vous indiquez au système Android que votre application nécessite un accès spécifique à certaines intentions
    et que vous respectez les nouvelles politiques de confidentialité introduites dans Android 11 et versions ultérieures.
     Cela permet de résoudre le warning et de garantir que votre application fonctionne correctement sur toutes les versions d'Android,
     en respectant les dernières politiques de sécurité et de confidentialité. -->
    <queries>

        <!-- Pour les e-mails -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>

        <!-- Pour les SMS -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="smsto" />
        </intent>


        <!-- Pour les appels -->
        <intent>
            <action android:name="android.intent.action.ACTION_DIAL" />
            <data android:scheme="tel" />
        </intent>


    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.P8Vitesse"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.P8Vitesse">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Trigger Google Play services to install the backported photo picker module. -->
        <!-- TODO : Warning "unsolved reference ModuleDependencies" -->
        <service android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data android:name="photopicker_activity:0:required" android:value="" />
        </service>

    </application>



</manifest>